apiVersion: apps/v1
kind: Deployment
metadata:
   name: backend-deployment
   namespace: app-dev
spec:
   replicas: 2
   selector:
      matchLabels:
         app: backend
   template:
      metadata:
         labels:
            app: backend
      spec:
         containers:
            - name: rediscommander
              image: rediscommander/redis-commander:latest
              ports:
                 - containerPort: 8081
              env:
                 - name: REDIS_HOSTS                                     # Redis deployment referred to backend deployment for internal commsn between the 2 layers
                   value: local:redis:6379
   strategy: 
      type: RollingUpdate
      rollingUpdate:
         maxSurge: 1
         maxUnavailable: 1
